body{
    margin: 2vw 3vh;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    background-color: antiquewhite;
}
h2.about_me{
    color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
div#profile_picture img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.mood_gifs{
    display: flex;
}
.gif{
    flex: 33.33%;
    padding: 5px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    float: left;
    padding-left: 1%;
 }