div#profile img{
width: 200px;
height: 200px;
border-radius: 50%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    float: left;
    padding-left: 1%;
 }