



    @media only screen and (max-width: 600px){
        .item1{
            grid-area: header;
            background-color: rgb(173, 216, 230);
            height: 60px;
            text-align: center;
       }
    
        .item2{
            grid-area: menus;
            background-color: rgb(19, 102, 102);
            color: aliceblue;   
        }
        .item3{
            grid-area: columns;
        } 
        .item4{
            grid-area: footer;
            background-color: rgb(19, 102, 102);
            height: 60px;
            text-align: center;
        }
        #grid_container{
            display: grid;
            grid-template-areas: 
            'header header header header header header'
            'menus menus menus menus menus menus'
            'columns columns columns columns columns columns'
            'footer footer footer footer footer footer';
            
            
        }
        .item2{
            display: flex;
            flex-direction: row;
            font-size: 20px;
        }
        .item2 div{
            border-right: 1px black solid;
            margin-right: 20px;
            padding-right: 10px;
        }
                                                                                                                                                                                                                            
        .item3{
            display: flex;
            flex-direction: row;
        
        }
        .item3 #col1{
            height: 200px;
            background-color: darkgrey;
            width: 33%;
            border-right: black 1px solid;
           
        }
        .item3 #col2{
            height: 200px;
            background-color: darkgrey;
            width: 33%;
            border-right: black 1px solid;
            
           
        }
        .item3 #col3{
            height: 200px;
            background-color: darkgrey;
            width: 33%;
           
        }

    }
    @media only screen and (min-width: 600px){
        .item1{
            grid-area: header;
            background-color: rgb(173, 216, 230);
            height: 60px;
            text-align: center;
       }
    
        .item2{
            grid-area: menus;
            background-color: rgb(19, 102, 102);
            color: aliceblue;   
        }
        .item3{
            grid-area: columns;
        } 
        .item4{
            grid-area: footer;
            background-color: rgb(19, 102, 102);
            height: 60px;
            text-align: center;
        }
        #grid_container{
            display: grid;
            grid-template-areas: 
            'header header header header header header'
            'menus menus menus menus menus menus'
            'columns columns columns columns columns columns'
            'footer footer footer footer footer footer';
            
            
        }
        .item2{
            display: flex;
            flex-direction: row;
            font-size: 20px;
        }
        .item2 div{
            border-right: 1px black solid;
            margin-right: 20px;
            padding-right: 10px;
        }
       
        .item3{
            display: flex;
            flex-direction: row;
        
        }
        .item3 #col1{
            height: 200px;
            background-color: darkgrey;
            width: 33%;
            border-right: black 1px solid;
           
        }
        .item3 #col2{
            height: 200px;
            background-color: darkgrey;
            width: 33%;
            border-right: black 1px solid;
            
           
        }
        .item3 #col3{
            height: 200px;
            background-color: darkgrey;
            width: 33%;
           
        }
    }

