body{
    background-color: aliceblue;
}
.input-label {
    padding: 4px 0px;
}

#start {
   border-radius: 4px;
    background-color: #537f83;
    color: white;
}

#input-form {
    position: fixed;
    top: 45%;
    left: 20px;
}

.circle {
    display: inline-block;
}